*{
    box-sizing: border-box;
    
}
body{
    background: #ccdcef;
    font-family: 'Times New Roman', Times, serif;
    
}

.tabs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    background: #FBFCFC;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px #ccc;
    display: flex;
}
.tabs .tab-header{
    width: 230px;
    background: #F5EEF8;
    padding: 10px;
}

.tabs .tab-header > div{
    width: 100%;
    height: calc(100%/4);
    background: #F5EEF8;
    text-indent: 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-left: 5px solid #ddd;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.tabs .tab-header >div.active{
    border-left: 5px solid #D461D0;
    color: #D461D0;
    background: #FBFCFC;
    padding: 30px;
}
.tabs .tab-content{

    text-align: center;
    padding: 30px;
    top: 10px;
    flex: 1;
    position: relative;
      
}
input{
    border-color: #8E2395; 
    border-bottom: 1px solid #8E2395;
    border-top: #888;
    border-right-style: none;
    border-left-style: none;
}
.inputs{
    
}
.tab-content{
    left: 85px;
    
}
.tabs .tab-content > div{
    position: absolute;
    top: -50vh;
    left: 100px;
    opacity: 0;
    transition: opacity 200ms ease-in-out 0ms, 
        left 300ms ease-in-out 0ms,
        top 0ms ease-in-out 3000ms;
}
.tabs .tab-content > div.active{
    top: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 200ms ease-in-out 0ms, 
        left 300ms ease-in-out 0ms,
        top 0ms ease-in-out 0ms;
}
